.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    transition: all 0.5s;
    padding: 15px;
    overflow-y: auto;
}

.nav-main {
    display: flex; 
    align-items: center;  
    position: relative;  
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem; 
}

.nav-main ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-main li{
    margin: 0px 15px 9px 15px;
    cursor: pointer;
}

.nav-menu a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px;
    font-size: 18px;
    text-decoration: none;
    color: #45505b;
    border-radius: 50px;
    width: auto;
    min-width: 120px;
    transition: all 0.3s;
    overflow: hidden;
    background-color: transparent;
    white-space: nowrap;
}

.nav-menu a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0563bb;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    z-index: -1;
    transition: width 0.3s ease, border-radius 0.3s ease;
}

.nav-menu a:hover::before {
    width: 100%;
    border-radius: 30px;
}

.nav-menu a i {
    font-size: 20px;
    color: white;
    position: relative;
    z-index: 1;
}

.nav-menu a span {
    opacity: 0;
    transform: translateX(-10px);
    color: white;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
    margin-left: 12px;
}

.nav-menu a:hover span {
    opacity: 1;
    transform: translateX(0);
}

.nav-menu .active{
    color: #fff;
    background-color: #0563bb;
}

.nav-menu .active span{
    color: #fff;
}

.nav-menu a i {
    font-size: 20px;
    margin-right: 8px;
} 

.nav-box{
    display: flex;
    justify-content: center;
}

