.contact-main {
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  flex-direction: column;
}

.contact {
  height: 100%;
  width: 40%;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
}

.contact-heading {
  font-weight: bold;
  font-size: 2em;
  color: white;
  margin-top: 5%;
  margin-bottom: 4%;
}

.form {
  height: 40vh;
  width: 80%;
  padding: 1%;
}

.form input {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #343a40;
  color: #fff;
  transition: all 0.5s ease;
}

.form textarea {
  height: 150px;
  resize: none;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #343a40;
  color: #fff;
  transition: all 0.5s ease;
}

.form button {
  display: block;
  width: 100%;
  background: #0563bb;
  border-radius: 4px;
  padding: 12px 12px;
  border: none;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s ease;
  cursor: pointer;
}
