.main{
    display: flex;
    flex-direction: column;
    height: 60vh;
    color: white;
    background-color: rgb(25, 47, 56);
}
.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile {
    display: flex;
    height: 28vh;
}

.profile img {
    display: block;
    border-radius: 5%;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 75vh;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-left: 0;
    align-items: left;
    font-size: large;
    
}

.name {

    font-size: xx-large;;
    font-weight:bold;
    margin-bottom: 0.75em;
}

.about-button{
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    align-items: center;
    margin: 5%;
    margin-left: 0;
    gap: 0.5em;    
}

.about-button-icon{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.button-icon{
    display: flex;
    flex-direction: row;
    background-color: rgb(25, 47, 56);
    align-items: center;
    color: white;
    cursor: pointer;
}

.button-icon hover{
    color: rgb(25, 47, 56);
}

.button-with-icon{
    display: flex;
    width: 40%;
    background-color: rgb(25, 47, 56);
    align-items: center;

    color: white;
    border: 0.1em solid white;
    cursor: pointer;

}

.button-with-icon svg {
    margin-right: 5%; 
}

.button-icon:hover, .button-with-icon:hover {
    background-color: rgb(35, 57, 66); /* Slightly lighter color on hover */
    color: #d3d3d3; /* Light grey color on hover */
    border-color: #d3d3d3; /* Light grey border color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional: Box shadow for depth */
}