.edu-main {
    background-color: white;
    color: black;
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.edu-heading {
    font-size: 2em;
    font-weight:bold;

    margin-top:  8%;
    margin-bottom: 4%;
}

.edu-box-main {
    display: flex;
    height: 50vh;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
    margin-bottom: 4%;

}

.edu-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(240, 241, 242);

    border-radius: 1em;
    padding: 3%;
    width: 30%;
    height: auto;
    font-weight: 370;
    box-shadow: .5em 1em 1.5em rgba(0, 0, 0, 0.5); 
    /* height: 20%; */
    /* margin-top: 1%; */
    /* margin-bottom: 4%; */
    /* box-shadow: .5em 1em 1.5em rgba(0, 0, 0, 0.5);  Adding box shadow */
    /* transition: transform 0.2s, box-shadow 0.2s; Add transition for smoother effect */
}

.edu-box-heading {
    font-size: 1.4rem;
    /* margin-bottom: 5px; */
    /* margin-bottom: 5%; */
    align-self: baseline;
    /* align-items: flex-start; */
}

/* .box-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
} */

.edu-box-content {
    font-size: 1rem;
    text-align:justify;
}

.edu-box-heading-sub{
    font-size: 1em;
    font-weight: 350;
    margin-bottom: 10%;
}