.exp-main {
    /* background-color: rgb(25, 47, 56); */
    color: black;
    display: flex;
    height: auto;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 4%; */
}

.exp-heading {
    font-size: 2em;
    font-weight:bold;
    color: white;
   
    margin-top:  8%;
    margin-bottom: 4%;

}

.exp-box-main {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    align-items: center;
    height: auto;

}

.exp-box{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(240, 241, 242);
    
    border-radius: 1em;
    padding: 3%;
    width: 30%;
    height: 100%;

    box-shadow: .5em 1em 1.5em rgba(0, 0, 0, 0.5); 
    font-weight: 370;
    /* font-size: 1em; */
}

/* .box:hover {
    transform: none; 
    box-shadow: none;
    cursor: default; 
} */

.exp-box-heading {
    font-size: 1.4rem;
    /* margin-bottom: 5px; */
    /* justify-content: left; */
    align-self: baseline;
    /* align-items: flex-start; */
}

/* .box-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
} */

.exp-box-content {
    font-weight: 300;
    font-size: 0.9rem;
    text-align:justify;
}

.exp-box-heading-sub{
    font-size: 1em;
    font-weight: 350;
    margin-bottom: 10%;
}