.main{
    display: flex;
    flex-direction: column;
    /* height: 60vh; */
    justify-content: center;
    height: 100vh;
    color: white;
    /* background-color: rgb(25, 47, 56); */
}
.about-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 50vh; */
    height: 100%;
    /* width: 75vh; */
    width: 42%;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 5%;
    margin-left: 0;
    align-items: left;
    font-size: large; 
}

.name {
    font-size:3.5em;
    font-weight:bold;
    margin-bottom: 0.75em;
}

.about-button{
    display: flex;
    flex-direction: column;
    /* justify-content: ; */
    /* align-items: center; */
    margin: 5%;
    margin-left: 0;
    gap: 0.5em;    
    /* padding: 1em; */
}

.about-button-icon{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.button-icon{
    display: flex;
    flex-direction: row;
    background-color: rgb(46, 45, 43);
    align-items: center;
    color: grey;
    cursor: pointer;
}

.button-icon hover{
    color: rgb(25, 47, 56);
}

.button-with-icon{
    margin-top: 2%;
    display: flex;
    width: 31%;
    background-color: rgb(46, 45, 43);
    align-items: center;
    color: grey ;
    border: 0.1em solid grey;
    cursor: pointer;
    padding: 0.5em;
}

.button-with-icon svg {
    margin-right: 5%; 
}

.profile {
    display: flex;
    /* height: 28vh; */
    height: 36vh;
    /* width: 30%; */
    
}

.profile img {
    display: block;
    border-radius: 5%;
}

.button-icon:hover, .button-with-icon:hover {
    background-color: rgb(46, 45, 43); 
    color: #d3d3d3; 
    border-color: #d3d3d3; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}