.nav-main {
    display: flex;
    height: 5vh;
    /* width: 35%; */
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 1.5em;
    border-radius: 1.75em;
    flex-wrap: wrap;
}

.nav-box a{
    padding: 0 1em;
    /* padding: 1em 1em; */
    text-decoration: none;
    color: inherit;

}

.nav-box a:hover{
    background-color: rgb(237, 241, 242);
    border-radius: 25%;
}

