.project-main {
    background-color: white;
    color: black;
    display: flex;
    /* justify-content: center; */
    height: 200vh;
    align-items: center;
    flex-direction: column;
}

.project-heading {
    /* display: flex; */
    /* height: 5vh; */
    font-size: 2em;
    font-weight:bold;
    /* margin-left: 10%; */
    /* align-items: center; */
    /* justify-items: center; */
    margin-top: 8%;
    margin-bottom: 4%;
    /* width: 25%; */
    /* justify-content: center; */
    /* align-content: center; */
    /* text-align:  ; */
}

.all-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4%;
    width: 100%;
    align-items: center;
    height: 80%;
    /* align-content: center; */
    /* margin-top: 2%; */
    /* height: 100%; */
    /* margin: 5%; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 5%; */
    /* align-items: center; */
}

.box{
    display: flex;
    flex-direction: column;
    /* background-color:darkslategray; */
    /* justify-content: space-between; */
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(240, 241, 242);
    /* color: ; */
    /* padding: 5%; */
    border-radius: 1em;
    padding: 3%;
    width: 35%;
    height: 20%;
    /* height: 20%; */
    margin-top: 1%;
    box-shadow: .5em 1em 1.5em rgba(0, 0, 0, 0.5);  /* Adding box shadow */
    transition: transform 0.2s, box-shadow 0.2s; /* Add transition for smoother effect */
}

.box:hover{
    /* box-shadow: 8px 0px 25px rgba(0, 0, 0, 0.7); */
    transform: scale(1.05);
    background-color: rgb(237, 237, 237);
    cursor: pointer;
}

.box-heading {
    font-size: 1.5rem;
    /* margin-bottom: 5px; */
    margin-bottom: 4%;
    align-self: baseline;
    /* align-items: flex-start; */
}

/* .box-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
} */

.box-content {
    font-size: 1rem;
    text-align:justify;
}

/* .box-heading{ */
    /* width: 100%; */
    /* height: 15%; */
/* } */

/* .box-img{ */
    /* align-self: center; */
    /* height: 70%; */
/* } */

/* .box-content{ */
    /* height: 5%; */
    
/* } */