.skill-main{
    display: flex;
    height: 60vh;
    align-items: center;
    flex-direction: column;
}

.skill-heading{
    /* display: flex; */
    /* height: 20%; */
    /* justify-content: center; */
    /* align-items: center; */
    font-weight: bold;
    font-size: 2em;

    margin-top: 5%;
    margin-bottom: 4%;
}

.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;
    height: 50%;
    list-style: none;
    /* display: flex;
    flex-direction: row;
    margin: 10px; 
    width: 50px; 
    height: 50px; 
    fill: #333;
    transition: fill 0.3s ease;  */
}

.skill-icon-items{
    padding: 3%;
}

.skill-icon-items img{
    height: 4em; 
    width: 5em;
    /* width: 40%; */
    border-radius: 0.5em;
}
